.works_inner	
	
	h3
		margin-bottom 30px
		margin-top 30px

	span.line
		float left
		margin-top 9px
		margin-right 5px
		display	block

	.head
		.bt_launch
			float right
			font-size 15px
			color #000
			font-family 'MetaBookItalic'
			margin-right 25px


		a.back
			float left
			font-family 'MetaBookItalic'
			font-size 14px

	.works_gallery
		margin-top 25px

	.works_gallery nav
		height 12px
		margin-bottom 5px

	.works_gallery nav ul li
		float left
		width 330px
		height 10px
		background #fff
		border-top 1px #e45e7e solid
		text-indent -9999px
		cursor pointer

	.works_gallery nav ul li:hover, .works_gallery nav ul li.selected
		height 10px
		background #fff
		border-top 5px #cccccc solid
		margin-top -2px

	.works_gallery .slide
		position relative

	.works_gallery .slide .images
		width 1000px
		height 554px
		border-radius 5px
		overflow hidden
		box-shadow: 0 3px 9px #888;

	.works_gallery .slide .images img
		border-radius 5px

	.works_gallery .slide .images ul li
		float left

	.works_gallery .arrow
		width 27px
		height 62px
		background #000 url("/images/bg-arrow.png") no-repeat top left
		position absolute
		background-position 0
		cursor pointer
		top 227px
		z-index 2
		display none

	.works_gallery .left_arrow
		left -13px

	.works_gallery .right_arrow
		right 6px

	.works_gallery .arrow:hover
		transition-property background-position
		transition-duration 5s
		background-position -27px

	.works_gallery .arrow img
		margin-top 22px
		margin-left 7px

	.text
		margin-top 40px

	.description, .credits
		width 980px
		display block
		float left
		margin-top 3px

	.description p, .credits p
		font-size 13px
		font-family 'MetaBookRoman'
		line-height 16px

	.credits p.title
		font-size 14px
		font-family 'MetaRomanBold'
		margin-bottom 15px

	.text .block
		margin-bottom 20px


