.works_inner

	h3 MKT MIX 

	.head
		span.line
		p Screens


		a(href="#", class="bt_launch") Launch Project

	.clear

	.works_gallery

		nav
			ul
				li(id="0") 01
				li(id="1") 02
				li(id="2") 03

		.clear

		.slide

			.left_arrow.arrow
				img(src="/images/left-arrow.png")

			.images
				ul
					li
						img(src="/images/works/studiosc.jpg")

			.right_arrow.arrow
				img(src="/images/right-arrow.png")

	.text

		span.line

		.description
			p MKTMix was a great challenge for me. I did an MVC framework by myself, and a Navigation library to listen when the pages animation finished and started, so I can change the hash url. The animations were made in a way that all the circles follows the same pattern, scaling up and down. All the circle buttons has the same animation using a jquery plugin made just for this purpose. All the data is retrieved from the server-side as json. and manipulated in the front-end. Unfortunately, there are more sections that I can´t show, because they are restricted to logged users.

		.clear

	.text

		span.line

		.credits
			p.title Credits:

			.company.block
				p 
					strong Company:
				p Grafikonstruct

			.art.block
				p 
					strong Art Direction:
				p Rodrigo Teco

			.backend.block
				p 
					strong Backend Development:
				p Andre Smolianinoff

			.frontend.block
				p 
					strong Frontend Development:
				p Giulian Drimba

		.clear