@font-face {
  font-family: 'OCRAStdRegular';
  src: url("fonts/ocrastd-webfont.eot");
  src: url("fonts/ocrastd-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/ocrastd-webfont.woff") format('woff'), url("fonts/ocrastd-webfont.ttf") format('truetype'), url("fonts/ocrastd-webfont.svg#OCRAStdRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaCondBookRoman';
  src: url("fonts/metacondbook-roman-webfont.eot");
  src: url("fonts/metacondbook-roman-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/metacondbook-roman-webfont.woff") format('woff'), url("fonts/metacondbook-roman-webfont.ttf") format('truetype'), url("fonts/metacondbook-roman-webfont.svg#metacondbookroman") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MetaNormalRoman';
  src: url("fonts/metanormal-roman-webfont.eot");
  src: url("fonts/metanormal-roman-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/metanormal-roman-webfont.woff") format('woff'), url("fonts/metanormal-roman-webfont.ttf") format('truetype'), url("fonts/metanormal-roman-webfont.svg#meta_normalroman") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: 'MetaNormalRoman', sans-serif;
  overflow: hidden;
}
div.project_thumb {
  overflow: hidden;
  width: 236px;
  height: 236px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
div.thumb_holder {
  width: 236px;
  height: 236px;
}
div.thumb_over {
  width: 236px;
  height: 236px;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}
div.thumb_over .bg {
  background: #000;
  width: 236px;
  height: 236px;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
}
div.thumb_over p {
  position: relative;
  color: #fff;
  font-family: 'MetaCondBookRoman';
  font-size: 18px;
  z-index: 2;
  text-align: center;
  top: 50%;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
div.thumb_over:hover {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
div.thumb_over:hover p {
  -webkit-transition-property: opacity, margin-top;
  -moz-transition-property: opacity, margin-top;
  -o-transition-property: opacity, margin-top;
  -ms-transition-property: opacity, margin-top;
  transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.5s, 0.5s;
  -moz-transition-duration: 0.5s, 0.5s;
  -o-transition-duration: 0.5s, 0.5s;
  -ms-transition-duration: 0.5s, 0.5s;
  transition-duration: 0.5s, 0.5s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  margin-top: -15px;
}
img.thumb_img {
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
ul.thumb_list li {
  width: 236px;
  height: 236px;
  position: relative;
  display: block;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
}
ul.thumb_list li.last {
  margin-left: 0;
}
#preloader {
  position: absolute;
  z-index: 10;
  top: 360px;
  left: 50%;
  margin-left: -88px;
  display: none;
}
header {
  width: 1020px;
  position: relative;
}
header .quote {
  position: absolute;
  color: #fff;
  font-family: "Arial";
  font-size: 12px;
  width: 125px;
  top: 20px;
  right: 109px;
  display: block;
  line-height: 14px;
}
header .quote .author {
  font-size: 10px;
}
header #menu {
  width: 996px;
  height: 34px;
  border-top: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
header #menu ul li {
  float: left;
  margin-top: 10px;
  margin-right: 27px;
}
header #menu ul li a {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'MetaNormalRoman', sans-serif;
  color: #000;
  text-decoration: none;
}
header #menu ul li a:hover {
  color: #000;
}
footer {
  height: 25px;
  width: 100%;
  display: block;
  background: #2c2c2c;
  position: absolute;
  bottom: 0;
  clear: both;
  opacity: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  filter: alpha(opacity=0);
}
footer .wrapper_footer {
  width: 1020px;
  margin: 0 auto;
}
footer .wrapper_footer p {
  text-align: center;
  color: #fff;
  font-size: 12px;
  font-family: 'MetaNormalRoman';
  margin-top: 5px;
}
.wrapper {
  width: 100%;
}
.wrapper .viewport {
  width: 100%;
  height: 600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.wrapper .overview {
  width: 100%;
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
}
.wrapper .content {
  width: 1020px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.wrapper .scrollbar {
  background: #e5e5e5 no-repeat 0 0;
  position: absolute;
  background-position: 0 0;
  top: 5px;
  right: 5px;
  width: 8px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.wrapper .track {
  background: #e5e5e5 url("../images/bg-scrollbar-trackend-y.png") no-repeat 0 100%;
  height: 100%;
  width: 8px;
  position: relative;
  padding: 0 1px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.wrapper .thumb {
  background: #ccc;
  height: 20px;
  width: 8px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.wrapper .thumb .end {
  display: none;
}
.wrapper .disable {
  display: none;
}

#works {
  margin-top: 25px;
}
