@font-face {
  font-family: 'OCRAStdRegular';
  src: url("fonts/ocrastd-webfont.eot");
  src: url("fonts/ocrastd-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/ocrastd-webfont.woff") format('woff'), url("fonts/ocrastd-webfont.ttf") format('truetype'), url("fonts/ocrastd-webfont.svg#OCRAStdRegular") format('svg');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
header {
  width: 1120px;
  height: 190px;
  position: relative;
}
header .quote {
  position: absolute;
  color: #fff;
  font-family: "Arial";
  font-size: 12px;
  width: 125px;
  top: 20px;
  right: 109px;
  display: block;
  line-height: 14px;
}
header .quote .author {
  font-size: 10px;
}
.wrapper {
  width: 1120px;
  margin: 0 auto;
}
