@font-face
    font-family 'OCRAStdRegular'
    src url('fonts/ocrastd-webfont.eot')
    src url('fonts/ocrastd-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ocrastd-webfont.woff') format('woff'),
         url('fonts/ocrastd-webfont.ttf') format('truetype'),
         url('fonts/ocrastd-webfont.svg#OCRAStdRegular') format('svg');
    font-weight normal
    font-style normal