
@import '_fonts'

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


global-reset()


a:hover
	text-decoration none

a
	color #000

h1
	font-size 25px

h3
	font-size 20px
	text-transform uppercase
	color #000
	font-family 'MetaBookRoman'

strong
	font-family 'MetaRomanBold'

body
	font-family font_normal
	overflow hidden

p
	font-size 13px
	line-height 16px
	color #000

// GLOBAL CLASSES

span.line
	width 25px
	height 1px
	display block
	background #000

.clear
	clear both

// GLOBAL ELEMENTS

div.project_thumb
	overflow hidden
	width 236px
	height 236px
	position absolute
	cursor pointer
	top 0
	left 0
	opacity 0

div.thumb_holder
	width 236px
	height 236px

div.thumb_over
	width 236px
	height 236px
	opacity 0
	border-radius 5px
	position absolute
	z-index 1

div.thumb_over .bg
	background #000
	width 236px
	height 236px
	opacity .5
	border-radius 5px
	position absolute
	z-index 1

div.thumb_over p
	position relative
	color #fff
	font-family: 'MetaCondBookRoman';
	font-size 18px
	z-index 2
	text-align center
	top 50%
	opacity 0


div.thumb_over:hover
	transition-property opacity
	transition-duration .5s
	opacity 1;

div.thumb_over:hover p
	transition-property opacity, margin-top
	transition-duration .5s, .5s
	opacity 1
	margin-top -15px

img.thumb_img
	border-radius 5px

ul.thumb_list li
	width 236px
	height 236px
	position relative
	display block
	margin-left 20px
	margin-bottom 20px
	float left

ul.thumb_list li.last
	margin-left 0

#preloader
	position absolute
	z-index 10
	top 360px
	left 50%
	margin-left -88px
	display none