footer
	height 25px
	width 100%
	display block
	background #2c2c2c
	position absolute
	bottom 0
	clear both
	opacity 0

footer .wrapper_footer
	width 1020px
	margin 0  auto

footer .wrapper_footer p
	text-align center
	color #fff
	font-size 12px
	font-family 'MetaNormalRoman'
	margin-top 5px
