header
	.quote
		p.text "Programmer - an organism that turns coffee into software."
		p.author - Unknown
		
	canvas#header_canvas(width="1020",height="200") canvas

	nav#menu
		ul
			li: a(href='/about', id="bt_about", class="bt") About
			li: a(href='/works', id="bt_work", class="bt") Work
			li: a(href='http://labs.codeman.co', id="bt_labs", class="bt_labs", target="_blank") Labs
			li: a(href='https://github.com/giuliandrimba', target="_blank", id="bt_codes") Codes
			li: a(href='/contact', id="bt_contact", class="bt") Contact