header
	width 1120px
	height 190px
	position relative

	.quote
		position absolute
		color #fff
		font-family "Arial"
		font-size 12px
		width 125px
		top 20px
		right 109px
		display block
		line-height 14px

		.author
			font-size 10px