header
	width 1020px
	position relative

	.quote
		opacity:0
		position absolute
		color #fff
		font-family "Arial"
		font-size 12px
		width 125px
		top 10px
		right 12px
		display block
		line-height 14px

		p
			color #fff

		.author
			font-size 10px
			margin-top 10px

	#menu
		width 996px
		height 34px
		border-top 1px solid #9c9c9c
		border-bottom 1px solid #9c9c9c
		opacity 0

	#menu ul li
		float left
		margin-top 10px
		margin-right 27px

	#menu ul li a
		text-transform uppercase
		font-size 14px
		font-family font_normal
		color #000
		text-decoration none

	#menu ul li a:hover, #menu ul li a.selected
		color #ee1c24