@import "../global/_global"
@import "_header"
@import "_footer"

.wrapper
	width 100%

.wrapper .viewport 
	width 100% 
	height 600px 
	margin 0 auto
	overflow hidden 
	position relative

.wrapper .overview 
	width 100%
	list-style none 
	position absolute 
	left 0 
	top 0 
	padding 0 
	margin 0

.wrapper .content
	width 1020px 
	height 100%
	margin 0 auto
	// overflow hidden 
	position relative

.wrapper .scrollbar
	background no-repeat 0 0 
	position absolute 
	background-position 0 0 
	top 5px
	right 5px 
	width 8px
	border-radius 20px
	z-index 10
	opacity .7

.wrapper .track
	background url(../images/bg-scrollbar-trackend-y.png) no-repeat 0 100% 
	height 100% 
	width 8px 
	position relative 
	padding 0 1px
	border-radius 20px

.wrapper .thumb
	background #ccc
	height 20px 
	width 8px 
	cursor pointer 
	overflow hidden 
	position absolute 
	top 0
	border-radius 20px

.wrapper .thumb .end
	display none

.wrapper .disable
	display none