.wrapper
	.scrollbar
		.track
			.thumb
				.end

	.viewport
		.overview
			.content
				img(src="/images/preloader.gif",id="preloader")

				include _header

				section#page_content

			include _footer