#contact
	img(src="/images/contact.png")

	div.description

		p I’m living and working in São Paulo / Brasil. I’m free for remote freelance work and meet new people. You can contact me dropping a message in the following links

		ul
			li
				p
					strong GMAIL
					| giuliandrimba@gmail.com
			li
				p
					strong MSN
					| giuliandrimba@hotmail.com
			li
				p
					strong SKYPE
					| giuliandrimba
			li
				p
					strong Twitter
					| @giuliandrimba

	.clear