#contact
	margin-top 30px

	div.img_contact
		float left

	div.description
		float left
		margin-top	20px
		width 650px

	p 
		font-family 'MetaBookRoman', sans-serif

	h3
		margin-bottom 15px

	strong
		font-family 'MetaBookRoman', sans-serif
		font-weight bold
		// color #87827C

	ul li p
		font-size 15px
		line-height 17px