#contact
	div.img_contact
		img(src="/images/contact.png")

	div.description

		h3 GET IN TOUCH

		p I’m living and working in São Paulo / Brazil. You can contact me dropping a message in the following channels:
		br

		ul
			li
				p
					strong GMAIL: 
					a(href="mailto:giuliandrimba@gmail.com") giuliandrimba@gmail.com
			li
				p
					strong SKYPE: 
					| giuliandrimba
			li
				p
					strong Twitter: 
					a(href="http://www.twitter.com/giuliandrimba", target="_blank") @giuliandrimba

	.clear