#about
	
	margin-top 20px

	img.img_about
		float left
	div.about_desc
		margin-top 30px
		margin-left 40px
		float left

	p
		font-family Arial
		font-size 12px
		line-height 14px
		color #87827c

	p.description
		margin-top 37px
		margin-bottom 25px
		width 400px

	h2
		margin-bottom 15px

	ul

		list-style disc
		margin-left 20px

		li 
			margin-bottom 3px
			color #87827c