#about
	
	margin-top 20px

	div.img_about
		float left
		width 294px
		height 344px
		display block

	div.about_desc
		margin-top 30px
		margin-left 40px
		float left
		width 650px

	.bt_social_link
		font-size 12px
		font-weight bold
		float left
		margin-right 10px

	.title
		font-size 25px

	p
		font-family 'MetaBookRoman', sans-serif

		strong
			font-size 13px
			font-family 'MetaRomanBold'

	div.description
		margin-top 15px
		margin-bottom 25px
		width 650px

		p
			margin-bottom 10px

	h2
		margin-bottom 15px
		font-family 'MetaRomanBold'

	h3
		font-family 'MetaRomanBold'
		font-size 15px
		text-transform capitalize
		margin-top 15px
		margin-bottom 5px

	ul

		li 
			margin-bottom 5px
			color #000