#about
	img(src="/images/about.png", class="img_about")

	.about_desc
		h1 GIULIAN DRIMBA
		p.description #{data.description}

		h2 Skills

		ul
			- for (var i in data.skills)
				li 
					p #{data.skills[i].name} (#{data.skills[i].level})

	.clear