#about
	div.img_about
		img(src="/images/about.png")

	.about_desc
		h3 Giulian Drimba - Interactive Developer
		.description

		h2 Skills

		ul
			- for (var i in data.skills)
				li 
					p 
						strong #{data.skills[i].name}: 
						#{data.skills[i].level}

	.clear